<div class="div-form" >
    <form action="/books/editbooks" method="POST">
    <input type="hidden" name="id" value="{{book.id}}">
    <h1>Edite seu livro!</h1>
    <div class="form-control">
        <label for="title">Título:</label>
        <input value="{{book.title}}" type="text" name="title" placeholder="Digite o título do livro"> 
    </div>
    <div class="form-control">
        <label for="pagesqty">Páginas:</label>
        <input value="{{book.pageqty}}" type="number" name="pageqty" placeholder="Digite a quantidade de páginas"> 
    </div>
    <input class="submit" type="submit" value="EDITAR">
    
    </form>
</div>