<div class="div-form" >
    <form action="/books/insertbook" method="POST">
    <h1>Cadastre seu livro!</h1>
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título do livro"> 
    </div>
    <div class="form-control">
        <label for="pagesqty">Páginas:</label>
        <input type="number" name="pageqty" placeholder="Digite a quantidade de páginas"> 
    </div>
    <input class="submit" type="submit" value="CADASTRAR">
    
    </form>
</div>