<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add user</h1>
    <form action="/routes/save" method="POST">
      <div>
        <input name="name" placeholder="digite um nome" type="text" />
        <div>
          <input name="age" placeholder="digite sua idade" type="text" />
        </div>
        <div>
          <input value="cadastrar" type="submit" />
        </div>
      </div>
    </form>
  </body>
</html>
