<h1>Olá, handlebars!</h1>
{{#if approved}}
    <p>parabéns, cadastro aprovado!</p>
{{else }}
    <p>Seu cadastro precisa de aprovação!</p>
{{/if}}
<p>O nome do usuário é {{ user.name }}</p>
{{#if auth}}
    <p>
        Você está autenticado! <a href="/dashboard">Clique aqui</a> para se redirecionar ao Dashboard!
    </p>
{{/if}}